<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="style.css">
  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/sockjs-client/sockjs.min.js"></script>
  <script src="/webjars/stomp-websocket/stomp.min.js"></script>
  <script src="/app.js"></script>
</head>
<body>

<form class="logOutButton" th:action="@{/logout}" method="get">
  <input type="submit" value="Logout"/></form></span>
<a href="/" class="logo"><img class="logoAss" src="/images/BCLogo.png"></a>
<div class="headerAss">

  <div class="header-right">
    <a href="/"><button class="btn info">Home</button></a>
    <a href="/profile"><button class="btn info">Profile</button></a>
  </div>

</div>
<br>

<div class="body">

  <div class="row">
    <div class="column1">
      <h2 class="linksColumn1">Links</h2>
      <div id="column1text" class="flex-container">
        <a href="/news"><button id="column1" class="btn info"><img id="imgColumn1" src="/images/news.png"><br>Most recent</button></a>
        <a href="/modules"><button id="column1" class="btn info"><img id="imgColumn1" src="/images/cubes.png"><br>Modules</button></a>
        <a href="/uploadAssignment"><button id="column1" class="btn info"><img id="imgColumn1" src="/images/qa.png"><br>Assignments</button></a>
        <a href="/people"><button id="column1" class="btn info"><img id="imgColumn1" src="/images/people.png"><br>Class list</button></a>
        <a href="/grades"><button id="column1" class="btn info"><img id="imgColumn1" src="/images/test.png"><br>Grades</button></a>
        <a href="/video" target="_blank"><button id="column1" class="btn info"><img id="imgColumn1" src="/images/videoconference.png"><br>Classroom</button></a>
        <a href="/git"><button id="column1" class="btn info"><img id="imgColumn1" src="/images/github.png"><br>Git</button></a>
        <a href="/filesUpload"><button id="column1" class="btn info"><img id="imgColumn1" src="/images/folder.png"><br>Documents</button></a>
        <div id="column1sec" sec:authorize="hasAuthority('ADMIN')">
          <a href="/addStudent"><button id="column1" class="btn info"><img id="imgColumn1" src="/images/students.png"><br>Add Student</button></a>
        </div>
      </div>
    </div>

    <div class="column2">
      <h2>All Files</h2>
      <br>
      <button>Sort by date</button> <br> <button>Sort by name</button>
      <br>
      <ol>
      <div th:each="post : ${allContent}" th:if="${post.img} != null">
        <a th:href="@{files/} + ${post.img}"> <p th:text="${post.img}"></p></a><p th:text="${post.date}"></p>
      </div>

      <div th:each="assignment : ${allCourses}" th:if="${assignment.fileName} != null">
          <a th:href="@{files/} + ${assignment.fileName}"><p th:text="${assignment.fileName}"></p></a><p th:text="${assignment.createdDate}"></p>
        </div>

    <div th:each="document : ${allDocuments}">
      <a th:href="@{files/} + ${document.fileName}" width="100"><p th:text="${document.fileName}"></p></a><p th:text="${document.date}"></p>
     </div>

      </ol>
      <div sec:authorize="hasAuthority('ADMIN')">

        <div class="createDocument1">
          <form method="post" action="/filesUpload" th:object="${File}" enctype="multipart/form-data">
            <div>
              <label for="file"></label>
              <input type="file" id="file" name="afile" multiple />
              <input type="submit"/>
              <div id="postImageHome">
              </div>
              </div>
        </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>