<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">


</head>
<body>
<div class="header">
    <a href="/" class="logo">Company Logo</a>
    <div class="header-right">
        <a href="#contact">Contact</a>
        <a href="#about">Profile</a>
    </div>
</div>
<br>
<br>
<br>
<br>

<div class="body">

    <div class="row">
        <div class="column1" style="background-color:#aaa;">
            <h2>Column 1</h2>
            <div class="flex-container">
                <button><div>Most recent updates</div></button>
                <br>
                <button><div>Modules</div></button>
                <br>
                <button><div>Assignments</div></button>
            </div>
        </div>
      <div class="column2" style="background-color:#bbb;">
          <h2>Recent announcement</h2>

          <div class="posts" th:each="post : ${allContent}">
              <h3><div th:text="${post.title}"></div></h3>
              <div th:text="${post.content}"></div>
              <!--<div th:text="${post.teacherName}"></div>-->
          </div>

            <!--<div th:if="${content.title != null}">

                <div class ="created">
                    <table style="padding-left: 10px;">
                        <th><p th:text="'Title: ' + ${content.title}"></p></th>
                        <tr></tr>
                        <th><p th:text="'Content: ' + ${content.content}"></p></th>
                        <tr></tr>

                    </table>
                </div>
            </div>
        </div>-->
        <div class="createPost">
            <form method="post" action="/" th:object="${newPost}">
                <div>Title: <input type="text" name="title" th:field="*{title}"></div>
                <div>Content: <input type="text" name="title" th:field="*{content}"></div>
                <input type="submit" value="Post some news">
            </form>
        </div>

          </div>
        <!--<form  action="/addPost" method="POST" th:object="${content}" enctype="multipart/form-data">
            <table><div>
                <th >Title: <input type="text" th:field="*{title}"/>
                    <p class="error" th:if="${#fields.hasErrors('title')}">Incorrect first name</p></th>
                <tr></tr>
                <th> Content: <input type="text" th:field="*{content}"/>
                    <p class="error" th:if="${#fields.hasErrors('title')}">Incorrect first name</p></th>
                <tr></tr>
                <td><img th:src="${content.img}" width="100"></td>
                <tr></tr>
                <th><input type="file" name="image"/></th>
                ! th:field="*{img}

                <tr></tr>
                <th> <input type="submit"/></th>
            </div>
            </table>
        </form>-->

        <div class="column3" style="background-color:#ccc;">
            <h2>Column 3</h2>
            <p>Schema här</p>
        </div>
    </div>

</div>
<!--
<span th:if="${showPrev}">
            <a th:href="'/home?page=' + ${currentPage-1}" th:text="Previous" class="itemlistinglinks"></a>
        </span>

<span th:each="page : ${pages}">
            <span th:if="${currentPage == page}" th:text="${page}" class="itemlistinglinks"></span>
            <a th:if="${currentPage != page}" th:href="'/items?page=' + ${page}" th:text="${page}" class="itemlistinglinks"></a>
        </span>

<span th:if="${showNext}">
            <a th:href="'/items?page=' + ${currentPage+1}" th:text="Next" class="itemlistinglinks"></a>
        </span>
-->
</body>
</html>