<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/app.js"></script>
</head>
<body>

<p class="loggedInAs" th:text="${'Logged in as: ' + #httpServletRequest.remoteUser}"></p>
<form class="logOutButton" th:action="@{/logout}" method="get">
    <input type="submit" value="Logout"/></form>

<a href="/" class="logo"><img class="logoAss" src="/images/BCLogo.png"></a>
<div class="headerAss">

    <div class="header-right">
        <a href="/"><button class="btn info">Home</button></a>
        <a href="/profile"><button class="btn info">Profile</button></a>
    </div>

</div>
<br>

<div class="body">

    <div class="row">
        <div class="column1">
            <h2 class="linksColumn1">Links</h2>
            <div id="column1text" class="flex-container">
                <a href="/news"><button id="column1" class="btn info"><img id="imgColumn1" src="/images/news.png"><br>Most recent</button></a>
                <a href="/modules"><button id="column1" class="btn info"><img id="imgColumn1" src="/images/cubes.png"><br>Modules</button></a>
                <a href="/uploadAssignment"><button id="column1" class="btn info"><img id="imgColumn1" src="/images/qa.png"><br>Assignments</button></a>
                <a href="/people"><button id="column1" class="btn info"><img id="imgColumn1" src="/images/people.png"><br>Class list</button></a>
                <a href="/grades"><button id="column1" class="btn info"><img id="imgColumn1" src="/images/test.png"><br>Grades</button></a>
                <a href="/video" target="_blank"><button id="column1" class="btn info"><img id="imgColumn1" src="/images/videoconference.png"><br>Classroom</button></a>
                <a href="/git"><button id="column1" class="btn info"><img id="imgColumn1" src="/images/github.png"><br>Git</button></a>
                <a href="/filesUpload"><button id="column1" class="btn info"><img id="imgColumn1" src="/images/folder.png"><br>Documents</button></a>
                <div id="column1sec" sec:authorize="hasAuthority('ADMIN')">
                <a href="/addStudent"><button id="column1" class="btn info"><img id="imgColumn1" src="/images/students.png"><br>Add Student</button></a>
                </div>
            </div>
        </div>

        <div class="column2">
            <h2>Recent announcement</h2>

            <div class="posts" th:if="${post.content} != null" th:each="post : ${allContent}">
                <h3><div id="announcementTitle" th:text="${post.title}"></div></h3><!--det är olagligt ring bolis-->
                <div th:text="${post.content}"></div>
                <div th:if="${post.img} != null"> <img th:src="@{files/} + ${post.img}" width="100"></div>
                <!-- <div th:text="'Posted by: ' + ${post.teacherName}"></div> This is fu**ed up-->
                <div class="date" th:text="'Posted the: ' + ${post.date} + '&nbsp;&nbsp;' + ${post.teacherName} + ' ' + ${post.teacherLastName}"></div>
                <div id="postAction" sec:authorize="hasAuthority('ADMIN')">
                    <form action="/deletePost" method="post">
                        <input type="hidden" th:value="${post.id}">
                        <input id="deletePost" type="submit" value="Delete post">
                <div sec:authorize="hasAuthority('ADMIN')">
                    <form th:action="@{/deletePost}" method="post">
                        <input type="hidden" th:value="${post.id}" name="id">
                        <input type="submit" value="Delete post">
                    </form>
                    <form action="/changePost" method="post">
                        <input type="hidden" th:value="${post.id}">
                        <input id="editPost" type="submit" value="Edit post">
                    <form th:action="@{/changePost}" method="post">
                        <input type="hidden" th:value="${post.id}" name="id2">
                        <!--<input type="hidden" th:value="${post.date}" name="date1">-->
                        <input type="submit" value="Change post">
                    </form>
                </div>
                <!--<div th:text="${post.teacherName}"></div>-->
            </div>

            <!--<div th:if="${content.title != null}">

                <div class ="created">
                    <table style="padding-left: 10px;">
                        <th><p th:text="'Title: ' + ${content.title}"></p></th>
                        <tr></tr>
                        <th><p th:text="'Content: ' + ${content.content}"></p></th>
                        <tr></tr>

                    </table>
                </div>
            </div>
        </div>-->
            <div sec:authorize="hasAuthority('ADMIN')">

            <div class="createPost">
                <form method="post" action="/" th:object="${newPost}" enctype="multipart/form-data">
                    <div class="title">Title: <input class="titleText" type="text" name="title" th:field="*{title}"></div>
                    <div class="content">Content: <textarea class="contentText" th:field="*{content}" id="w3review" name="w3review" rows="4" cols="50">
                    </textarea>
                        <div>
                        <label for="file"></label>
                        <input type="file" id="file" name="afile" multiple />
                        <input type="submit"/>
                        <div id="postImageHome">
                        </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        </div>
        <!--<form  action="/addPost" method="POST" th:object="${content}" enctype="multipart/form-data">
            <table><div>
                <th >Title: <input type="text" th:field="*{title}"/>
                    <p class="error" th:if="${#fields.hasErrors('title')}">Incorrect first name</p></th>
                <tr></tr>
                <th> Content: <input type="text" th:field="*{content}"/>
                    <p class="error" th:if="${#fields.hasErrors('title')}">Incorrect first name</p></th>
                <tr></tr>
                <td><img th:src="${content.img}" width="100"></td>
                <tr></tr>
                <th><input type="file" name="image"/></th>
                ! th:field="*{img}

                <tr></tr>
                <th> <input type="submit"/></th>
            </div>
            </table>
        </form>-->

        <div class="column3">
            <table>
                <tr>
                    <td>
                        <b>TODAY - </b> <script> document.write(new Date().toLocaleDateString()); </script> <br>
                    </td>
                </tr>
                <tr>
                    <td class="stefan" style="font-weight: bold;">
                        <br>
                        <b><a href="/video" target="_blank">Digital Classroom</a>
                        </b><td>

                </tr>
                <tr>
                    <td>
                        <br>
                        <b >09:00 - Check-in</b>

                        <p>AnonymousClassesAndLambda - Exercises.pdf</p>

                        <p>AnonymousClassesAndLambda.pdf</p>

                        <p>LambdaStarter.zip</p>

                        <b>[10.15 - 10.30 - Morning break]</b>

                        <p>10.30 - LambdaSolution.zip</p>

                        <p>Functional Programming.pdf</p>

                        <p>Lambda.pdf</p>

                        <p>Lambda - Exercises.pdf</p>

                        <b>14:00 - Lambda2Solution.zip</b>

                        <p>Streams.pdf</p>

                        <p>Streams - Exercises.pdf</p>

                        <b>[14.45 - 15.00 - Afternoon break]</b>

                        <p>16:30 - StreamsSolution.zip</p>

                        <b>Checkout</b>
                    </td>
                </tr>
                <tr>
                    <b></b>
                </tr>
            </table>
            <br>
            <table class="schema" border="2" cellspacing="0" align="center">
                <tr>
                    <td align="center" height="50"
                        width="80"><br>
                        <b>Day/Period</b></br>
                    </td>
                    <td align="center" height="50"
                        width="80">
                        <b>9:00-10:20</b>
                    </td>
                    <td align="center" height="50"
                        width="80">
                        <b>10:20-11:10</b>
                    </td>
                    <td align="center" height="50"
                        width="80">
                        <b>11:10-12:00</b>
                    </td>
                    <td align="center" height="50"
                        width="80">
                        <b>12:00-13:00</b>
                    </td>
                    <td align="center" height="50"
                        width="80">
                        <b>13:00-13:30</b>
                    </td>
                    <td align="center" height="50"
                        width="80">
                        <b>13:30-14:20</b>
                    </td>
                    <td align="center" height="50"
                        width="80">
                        <b>14:20-15:10</b>
                    </td>
                    <td align="center" height="50"
                        width="80">
                        <b>15:30-17:00</b>
                    </td>
                </tr>
                <tr>
                    <td align="center" height="50">
                        <b>Monday</b></td>
                    <td class="schemaTxt" align="center" height="30">Java</td>
                    <td align="center" height="30">CSS</td>
                    <td align="center" height="30">SQL</td>
                    <td rowspan="6" align="center" height="30">
                        <h2>L<br>U<br>N<br>C<br>H</h2>
                    </td>
                    <td colspan="3" align="center"
                        height="30">Mini Project</td>
                    <td align="center" height="30">Java</td>
                </tr>
                <tr>
                    <td align="center" height="30">
                        <b>Tuesday</b>
                    </td>
                    <td colspan="3" align="center"
                        height="30">Mini Project
                    </td>
                    <td align="center" height="30">CSS</td>
                    <td align="center" height="30">AWS</td>
                    <td align="center" height="30">Java</td>
                    <td align="center" height="30">JavaScript</td>
                </tr>
                <tr>
                    <td align="center" height="30">
                        <b>Wednesday</b>
                    </td>
                    <td align="center" height="30">Java</td>
                    <td align="center" height="30">Java Int.</td>
                    <td align="center" height="30">Java Int.</td>
                    <td align="center" height="30">Streams</td>
                    <td colspan="3" align="center"
                        height="30">CHECKPOINT
                    </td>
                </tr>
                <tr>
                    <td align="center" height="30">
                        <b>Thursday</b>
                    </td>
                    <td align="center" height="30">AWS</td>
                    <td align="center" height="30">SQL</td>
                    <td align="center" height="30">CSS</td>
                    <td colspan="3" align="center"
                        height="30">Mini Project
                    </td>
                    <td align="center" height="30">Java</td>
                </tr>
                <tr>
                    <td align="center" height="30">
                        <b>Friday</b>
                    </td>
                    <td colspan="3" align="center"
                        height="30">ASSESMENT TEST
                    </td>
                    <td align="center" height="30">Java</td>
                    <td align="center" height="30">SQL</td>
                    <td align="center" height="30">CSS</td>
                    <td align="center" height="30">AWS</td>
                </tr>
            </table>
        </div>
    </div>

    <button id="connect" onclick="openForm()" class="btn btn-default" type="submit" >Open chat</button> <!-- style="background-color: #00b4d8;" -->
    <!-- <button id="openWhenConnected" onclick="openForm()" class="btn btn-default" type="submit" >Open the chat again</button> -->

    <div class="chat-popup" id="myForm">
        <noscript><h2 style="color: #ff0000"></h2></noscript>
        <div id="main-content" class="containerChat">
            <div class="row">
                <div class="col-md-6">
                    <form class="form-inline">
                        <div class="form-group">
                            <label id="classroomChat" for="connect">Classroom Chat</label>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <form class="form-inline" id="chatForm">
                        <div class="form-group">
                            <input type="text" id="message" class="form-control" placeholder="Type your message here...">
                            <button id="send" class="btn btn-default" type="submit">Send</button>
                            <button id="hideChat" onclick="closeForm()" class="btn btn-default" type="submit" >Close chat</button>
                            <!-- <button class="btn btn-default" type="submit"  onclick="closeForm()">Close chat</button> -->
                            <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled" onclick="closeForm()">Disconnect</button>
                        </div>

                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table id="conversation" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Messages: </th>
                        </tr>
                        </thead>
                        <tbody id="greetings">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

<script>

/*
    if (connect == true) {
          document.getElementById("openWhenConnected").style.display = "none";
    } else {
          document.getElementById("openWhenConnected").style.display = "block";
          document.getElementById("connect").style.display = "none";
    }
*/

     function hideChat() {
      document.getElementById("myForm").style.display = "none";
    }


    function openForm() {
      document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }

</script>

</div>
<!--
<span th:if="${showPrev}">
            <a th:href="'/home?page=' + ${currentPage-1}" th:text="Previous" class="itemlistinglinks"></a>
        </span>

<span th:each="page : ${pages}">
            <span th:if="${currentPage == page}" th:text="${page}" class="itemlistinglinks"></span>
            <a th:if="${currentPage != page}" th:href="'/items?page=' + ${page}" th:text="${page}" class="itemlistinglinks"></a>
        </span>

<span th:if="${showNext}">
            <a th:href="'/items?page=' + ${currentPage+1}" th:text="Next" class="itemlistinglinks"></a>
        </span>
-->
</body>
</html>