<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">


</head>
<body>
<div class="header">
    <a href="/" class="logo"><img src="/images/DarkblueBCNW.png" class="headerPic"></a>
    <div class="header-right">
        <a href="#contact">Contact</a>
        <a href="/profile">Profile</a>
               <a href="/chat">Chat</a>
    </div>

</div>
<br>
<br>
<br>
<br>

<div class="body">

    <div class="row">
        <div class="column1">
            <h2>Links</h2>
            <div class="flex-container">
                <button class="frontPageButton"><div>Most recent updates</div></button>
                <br>
                <button class="frontPageButton"><div>Modules</div></button>
                <br>
                <button class="frontPageButton"><div>Assignments</div></button>
                <a href="/uploadAss"><button><div>Assignments</div></button></a>
                <br>
                <form action="/people">
                    <input type="submit" value="Meet the team" />
                </form>
            </div>
        </div>
      <div class="column2">
          <p class="loggedInAs" th:text="${'Logged in as: ' + #httpServletRequest.remoteUser}"></p>
          <h2>Recent announcement</h2>

          <div class="posts" th:each="post : ${allContent}">
              <h3><div th:text="${post.title}"></div></h3><!--det är olagligt ring bolis-->
              <div th:text="${post.content}"></div>
              <div class="date" th:text="'Posted the: ' + ${post.date}"></div>
              <!--<div th:text="${post.teacherName}"></div>-->
          </div>

            <!--<div th:if="${content.title != null}">

                <div class ="created">
                    <table style="padding-left: 10px;">
                        <th><p th:text="'Title: ' + ${content.title}"></p></th>
                        <tr></tr>
                        <th><p th:text="'Content: ' + ${content.content}"></p></th>
                        <tr></tr>

                    </table>
                </div>
            </div>
        </div>-->
        <div class="createPost">
            <form method="post" action="/" th:object="${newPost}">
                <div class="title">Title: <input class="titleText" type="text" name="title" th:field="*{title}"></div>
                <div class="content">Content: <textarea class="contentText" th:field="*{content}" id="w3review" name="w3review" rows="4" cols="50">
                    </textarea>
                </div>
                <input class="announcementButton" type="submit" value="Post">
            </form>
        </div>

          </div>
        <!--<form  action="/addPost" method="POST" th:object="${content}" enctype="multipart/form-data">
            <table><div>
                <th >Title: <input type="text" th:field="*{title}"/>
                    <p class="error" th:if="${#fields.hasErrors('title')}">Incorrect first name</p></th>
                <tr></tr>
                <th> Content: <input type="text" th:field="*{content}"/>
                    <p class="error" th:if="${#fields.hasErrors('title')}">Incorrect first name</p></th>
                <tr></tr>
                <td><img th:src="${content.img}" width="100"></td>
                <tr></tr>
                <th><input type="file" name="image"/></th>
                ! th:field="*{img}

                <tr></tr>
                <th> <input type="submit"/></th>
            </div>
            </table>
        </form>-->

        <div class="column3">
            <table>
                <tr>
                    <td>
                        <b>TODAY - </b> <script> document.write(new Date().toLocaleDateString()); </script> <br>
                    </td>
                </tr>
                <tr>
                    <td class="stefan" style="font-weight: bold;">
                        <br>
                        <a href="/video" target="_blank">Digital Classroom</a>
                    <td>
                </tr>
                <tr>
                    <td>
                        <br>
                        <b>09:00 - Check-in</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>AnonymousClassesAndLambda - Exercises.pdf</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>AnonymousClassesAndLambda.pdf</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>LambdaStarter.zip</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>[10.15 - 10.30 - Morning break]</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>10.30 - LambdaSolution.zip</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Functional Programming.pdf</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Lambda.pdf</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Lambda - Exercises.pdf</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>14:00 - Lambda2Solution.zip</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Streams.pdf</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Streams - Exercises.pdf</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>[14.45 - 15.00 - Afternoon break]</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>16:30 - StreamsSolution.zip</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Checkout</b>
                    </td>
                </tr>
                <tr>
                    <b></b>
                </tr>
            </table>
            <br>
            <table class="schema" border="5" cellspacing="0" align="center">
                <tr>
                    <td align="center" height="50"
                        width="80"><br>
                        <b>Day/Period</b></br>
                    </td>
                    <td align="center" height="50"
                        width="80">
                        <b>I<br>9:30-10:20</b>
                    </td>
                    <td align="center" height="50"
                        width="80">
                        <b>II<br>10:20-11:10</b>
                    </td>
                    <td align="center" height="50"
                        width="80">
                        <b>III<br>11:10-12:00</b>
                    </td>
                    <td align="center" height="50"
                        width="80">
                        <b>12:00-13:00</b>
                    </td>
                    <td align="center" height="50"
                        width="80">
                        <b>IV<br>13:00-1:30</b>
                    </td>
                    <td align="center" height="50"
                        width="80">
                        <b>V<br>1:30-2:20</b>
                    </td>
                    <td align="center" height="50"
                        width="80">
                        <b>VI<br>2:20-3:10</b>
                    </td>
                    <td align="center" height="50"
                        width="80">
                        <b>VII<br>3:10-4:00</b>
                    </td>
                </tr>
                <tr>
                    <td align="center" height="50">
                        <b>Monday</b></td>
                    <td align="center" height="30">Eng</td>
                    <td align="center" height="30">Mat</td>
                    <td align="center" height="30">Che</td>
                    <td rowspan="6" align="center" height="30">
                        <h2>L<br>U<br>N<br>C<br>H</h2>
                    </td>
                    <td colspan="3" align="center"
                        height="30">LAB</td>
                    <td align="center" height="30">Phy</td>
                </tr>
                <tr>
                    <td align="center" height="30">
                        <b>Tuesday</b>
                    </td>
                    <td colspan="3" align="center"
                        height="30">LAB
                    </td>
                    <td align="center" height="30">Eng</td>
                    <td align="center" height="30">Che</td>
                    <td align="center" height="30">Mat</td>
                    <td align="center" height="30">SPORTS</td>
                </tr>
                <tr>
                    <td align="center" height="30">
                        <b>Wednesday</b>
                    </td>
                    <td align="center" height="30">Mat</td>
                    <td align="center" height="30">phy</td>
                    <td align="center" height="30">Eng</td>
                    <td align="center" height="30">Che</td>
                    <td colspan="3" align="center"
                        height="30">LIBRARY
                    </td>
                </tr>
                <tr>
                    <td align="center" height="30">
                        <b>Thursday</b>
                    </td>
                    <td align="center" height="30">Phy</td>
                    <td align="center" height="30">Eng</td>
                    <td align="center" height="30">Che</td>
                    <td colspan="3" align="center"
                        height="30">LAB
                    </td>
                    <td align="center" height="30">Mat</td>
                </tr>
                <tr>
                    <td align="center" height="30">
                        <b>Friday</b>
                    </td>
                    <td colspan="3" align="center"
                        height="30">LAB
                    </td>
                    <td align="center" height="30">Mat</td>
                    <td align="center" height="30">Che</td>
                    <td align="center" height="30">Eng</td>
                    <td align="center" height="30">Phy</td>
                </tr>
            </table>
        </div>
    </div>

</div>
<!--
<span th:if="${showPrev}">
            <a th:href="'/home?page=' + ${currentPage-1}" th:text="Previous" class="itemlistinglinks"></a>
        </span>

<span th:each="page : ${pages}">
            <span th:if="${currentPage == page}" th:text="${page}" class="itemlistinglinks"></span>
            <a th:if="${currentPage != page}" th:href="'/items?page=' + ${page}" th:text="${page}" class="itemlistinglinks"></a>
        </span>

<span th:if="${showNext}">
            <a th:href="'/items?page=' + ${currentPage+1}" th:text="Next" class="itemlistinglinks"></a>
        </span>
-->
</body>
</html>