<!--
            <label for="email">Email</label>
            <input type="text" id="email" name="email">
            <label for="password">Password</label>
            <input type="password" id="password" name="password">-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body >
<div class="header">
    <img src="/images/DarkblueBCNW.png" class="headerPic">
</div>
<img src="/images/loginpic2.png" class="logo" width="200">
<div class="container">
    <form class="login" action="/" th:method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="Login">
        <!-- <div class="error" th:if="${param.error}">
             Invalid username and password.
         </div>-->
    </form>
    <div class="picContainer">
        <img class="pix" src="/images/SP3.jfif"/>
        <img class="pix" src="/images/SP1.jpeg"/>
        <img class="pix" src="/images/SP2.jfif"/>
    </div>

</div>
</body>
</html>
