<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body >
<div class="header">
    <img src="/images/BCLogo.png" class="headerPic">
</div>
<div class="container">
    <form class="login" action="/login" th:method="POST">
        <input class="loginInput3" type="text" name="username" placeholder="Username" required>
        <input class="loginInput" type="password" name="password" placeholder="Password" required>
        <input id="loginButton" class="loginInput" type="submit" value="Login">
        <div class="error" th:if="${param.error}">
             Invalid username and password.
        </div>

    </form>
    <div class="picContainer">
        <img class="pix" src="/images/SP3.jfif"/>
        <img class="pix" src="/images/SP1.jpeg"/>
        <img class="pix" src="/images/SP2.jfif"/>
    </div>



</div>
</body>
</html>