<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="style.css">
</head>
<body  onload="colorOnLoad()">

<script>
    function colorOnLoad() {
        let Color = sessionStorage.getItem("color");
        document.getElementById("changeColor").style.backgroundColor = Color;
        let ColorH = sessionStorage.getItem("colorH");
        document.getElementById("changeColorHead").style.backgroundColor = ColorH;
    }
</script>

<form class="logOutButton" th:action="@{/logout}" method="get">
  <input type="submit" value="Logout"/></form></span>
<a href="/" class="logo"><img class="logoAss" src="/images/BCLogo.png"></a>
<div id="changeColorHead" class="headerAss">

  <div class="header-right">
    <a href="/"><button class="btn info">Home</button></a>
    <a href="/profile"><button class="btn info">Profile</button></a>
  </div>

</div>
<br>

<div class="body">
  <div id="changeColor" class="row">
    <div class="column1">
      <h2 class="linksColumn1">Links</h2>
      <div id="column1text" class="flex-container">
        <a href="/news"><button id="column1" class="btn info"><img id="imgColumn1" src="/images/news.png"><br>Most recent</button></a>
        <a href="/modules"><button id="column1" class="btn info"><img id="imgColumn1" src="/images/cubes.png"><br>Modules</button></a>
        <a href="/uploadAssignment"><button id="column1" class="btn info"><img id="imgColumn1" src="/images/qa.png"><br>Assignments</button></a>
        <a href="/people"><button id="column1" class="btn info"><img id="imgColumn1" src="/images/people.png"><br>Class list</button></a>
        <a href="/grades"><button id="column1" class="btn info"><img id="imgColumn1" src="/images/test.png"><br>Grades</button></a>
        <a href="/video" target="_blank"><button id="column1" class="btn info"><img id="imgColumn1" src="/images/videoconference.png"><br>Classroom</button></a>
        <a href="/git"><button id="column1" class="btn info"><img id="imgColumn1" src="/images/github.png"><br>Git</button></a>
        <a href="/filesUpload"><button id="column1" class="btn info"><img id="imgColumn1" src="/images/folder.png"><br>Documents</button></a>
        <div id="column1sec" sec:authorize="hasAuthority('ADMIN')">
          <a href="/addStudent"><button id="column1" class="btn info"><img id="imgColumn1" src="/images/students.png"><br>Add Student</button></a>
          <a href="/addCourse"><button id="column1" class="btn info"><img id="imgColumn1" src="/images/elearning.png"><br>Add Course</button></a>
        </div>
      </div>
    </div>

    <div class="column2">

      <div class="modules"><br>
        Content:<br>

        Course modules<br>
        1. Online learning guide<br>
        2. Our pedagogical platform - The AW Academy Way<br>
        3. Computer 'set up'<br>
        4. Pre-study calls<br>
        5. Contact information<br>
        Launch-event presentation<br>
        Reset laptop (primary) - instruction.pdf<br>
        Module #0: Pre-studies<br>
        Complete all items<br>
        Module completed<br>
        <br>
        1. Pre-studies information<br>
        ViewedModule item has been viewed and is complete<br>
        Pre-prestudy quiz<br>
        Prestudy Assignment<br>
        Reflection assignment - how to make the most of The AW Academy Way!<br>
        Tips på egna projekt och programmeringsuppgifter<br>
        About the program<br>
        Complete all items<br>
        Module completed<br>

        Program Overview & Learning Outcomes<br>
        Checkpoint & Assessment Process<br>
        ViewedModule item has been viewed and is complete<br>
        AW Academy - presentations<br>
        Important information about events during the program<br>
        Schedule one-on-one with AW Academy<br>
        Checkpoints & Assessment Tests [Add number of tests needed]<br>
        Checkpoint_SWE_01_Scrum_JE_0822<br>
        Checkpoint_SWE_01_UX_JE_0822<br>
        <br>
        Module #1: Java Introduction | 1-5/8<br>
        1. Schedule M#1<br>
        Module #2: Scrum | 8/8<br>
        Scrum Values<br>
        Scrum Glossary<br>
        Professional Scrum Developer Glossary<br>
        2020-Scrum-Guide-Swedish.pdf<br>
        2020-Scrum-Guide-US.pdf<br>
        The-Scrum-Master-Training-Manual-Vr1.6.pdf<br>
        Agila Metoder Presentation (pptx)<br>
        <br>
        Module #3: UX | 9-10/8<br>
        Context Module Sub Header<br>
        Grupparbeten<br>
        Grupparbete - Planera<br>
        Color Palette<br>
        Enskild uppgift - Färger<br>
        Typografi<br>
        Enskild uppgift - Typografi<br>
        Style Guide<br>
        Enskild uppgift - Logotyp<br>
        Grupparbete - Jämför och utveckla<br>
        Grupparbete - Sketcha för ny storlek<br>
        7 - TT.png<br>
        Grupparbete - presentation frågor<br>
        Referensmaterial<br>
        The 6 Rs<br>
        Läsytor och interaktiva ytor<br>
        Ergonomi & inkluderande design<br>
        Tenets & Traps OnePager<br>
        Inclusive Toolkit Manual<br>
        T&T Worksheet<br>
        Länkar & resurser<br>
        <br>

      </div>
    </div>
  </div>
</div>
</body>
</html>