<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="header">
    <a href="/" class="logo">Company Logo</a>
    <div class="header-right">
        <a href="#contact">Contact</a>
        <a href="/profile">Profile</a>
        <a href="/chat">Chat</a>
    </div>

</div>
<br>
<br>
<br>
<br>

<div class="body">

    <div class="row">
        <div class="column1" style="background-color:#aaa;">
            <h2>Column 1</h2>
            <div class="flex-container">
                <button><div>Most recent updates</div></button>
                <br>
                <button><div>Modules</div></button>
                <br>
                <button><div>Assignments</div></button>
            </div>
        </div>
        <div class="column2">

            <h2>Profile information saved! </h2>

            <button><a href="/profile">Back to profile</a></button>

            <div class="column3" style="background-color:#ccc;">

                <br>

            </div>
        </div>

    </div>


</body>
</html>