<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<form class="logOutButton" th:action="@{/logout}" method="get">
    <input type="submit" value="Logout"/></form></span>
<a href="/" class="logo"><img class="logoAss"src="/images/BCLogo.png"></a>
<div class="headerAss">

    <div class="header-right">
        <a href="/"><button class="btn info">Home</button></a>
        <a href="#contact"><button class="btn info">Contact</button></a>
        <a href="/chat"><button class="btn info">Chat</button></a>
    </div>
</div>
<br>

<div class="body">

    <div class="row">
        <div class="column1">
            <h2>Links</h2>
            <div class="flex-container">
                <button class="btn info"><div>Most recent </div></button>
                <br><br>
                <button class="btn info"><div>Modules</div></button>
                <br><br>

                <a href="/uploadAss"><button class="btn info"><div>Assignments</div></button></a>
                <br><br>
                <button class="btn info"><a href="/people">Meet the team</a></button>
            </div>
        </div>
        <div class="column2">

            <h2>Profile information saved! </h2>

            <button><a href="/profile">Back to profile</a></button>

        </div>

    </div>
</div>

</body>
</html>