<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="header">
    <a href="/" class="logo">Company Logo</a>
    <div class="header-right">
        <a href="/">Home</a>
        <a href="#contact">Contact</a>
        <a href="/chat">Chat</a>
    </div>

</div>
<br>
<br>
<br>
<br>

<div class="body">

    <div class="row">
        <div class="column1">
            <h2>Links</h2>
            <div class="flex-container">
                <button class="frontPageButton"><div>Most recent updates</div></button>
                <br>
                <button class="frontPageButton"><div>Modules</div></button>
                <br>
                <button class="frontPageButton"><div>Assignments</div></button>
                <br>
                <form action="/people">
                    <input type="submit" value="Meet the team" />
                </form>
            </div>
        </div>
        <div class="column2">

            <h2>Profile information saved! </h2>

            <button><a href="/profile">Back to profile</a></button>

        </div>

    </div>


</body>
</html>