<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="header">
    <a href="/" class="logo"><img class="logoAss"src="/images/DarkblueBCNW.png"></a>
    <div class="header-right">
        <a href="/">Home</a>
        <a href="#contact">Contact</a>
        <a href="/chat">Chat</a>
    </div>
</div>
<br>
<br>
<br>
<br>

<div class="body">

    <div class="row">
        <div class="column1">
            <h2>Links</h2>
            <div class="flex-container">
                <button class="frontPageButton"><div>Most recent updates</div></button>
                <br>
                <button class="frontPageButton"><div>Modules</div></button>
                <br>
                <button class="frontPageButton"><div>Assignments</div></button>
                <br>
                <form action="/people">
                    <input type="submit" value="Meet the team" />
                </form>
            </div>
        </div>

        <div class="column2">

            <h1 th:text="'Hello ' + ${student.firstName}"></h1>

            <form action="/profile" th:object="${student}" method="post">

                First name: <input type="text" th:field="*{firstName}"><br><br><br>
                Last name: <input type="text" th:field="*{lastName}"><br><br><br>
                Email: <input type="text" th:field="*{email}"><br><br><br>
                <div th:if="*{dateOfBirth} == null">
                    Date of Birth: <input type="date" id="date" name="date" value="1970-01-01" min="1900-01-01" max="2030-12-31"><br><br><br>
                </div>
                <div th:if="*{dateOfBirth} != null">
                    Date of Birth: <input type="date" id="date" name="date" th:value="${{birth}}" min="1900-01-01" max="2030-12-31"><br><br><br>
                </div>

                City: <select id="cities" name="cities" th:selected="*{city}">
                    <div th:if="*{city} == null">
                        <option value="none">Choose city..</option>
                    </div>
                <div th:if="*{city} != null">
                    <option th:value="*{city}" th:text="*{city}"></option>
                </div>

                    <div th:each="stad : ${stader}">
                        <option th:value="${stad}" th:text="${stad}"></option>
                    </div>

                </select> <br> <br> <br>

                Address: <input type="text" th:field="*{address}"><br><br><br>
                <!--Password: <input type="text" th:field="*{password}"><br><br><br>-->
                LinkedIn: <input type="text" th:field="*{linkedIn}"><br><br><br>
                gitHub: <input type="text" th:field="*{gitHub}"><br><br><br>

                <!--<input type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31">-->


                <!--  -->
                <input type="hidden" th:field="*{id}">

                <input type="submit" value="Save">
            </form>

    </div>

</div>
</div>
   <!-- <script>
function myFunction() {
  document.getElementById("date").defaultValue = "2014-02-09";
}
</script>-->
</body>
</html>