<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body onload="colorOnLoad()">
<form class="logOutButton" th:action="@{/logout}" method="get">
    <input type="submit" value="Logout"/></form></span>
<a href="/" class="logo"><img class="logoAss"src="/images/BCLogo.png"></a>
<div id="changeColorHead" class="headerAss">

    <div class="header-right">
        <a href="/"><button class="btn info">Home</button></a>
        <div class="dropdown">
            <button class="dropbtn">Pick Color Theme</button>
            <div class="dropdown-content">
                <a onclick="myFunctionRed(); colorOnLoad()">Red</a>
                <a onclick="myFunctionBlue(); colorOnLoad()">Blue</a>
                <a onclick="myFunctionGreen(); colorOnLoad()">Green</a>
                <a onclick="myFunctionPurple(); colorOnLoad()">Purple</a>
                <a onclick="myFunctionYellow(); colorOnLoad()">Yellow</a>
                <a onclick="myFunctionTurquoise(); colorOnLoad()">Turquoise</a>
                <a onclick="myFunctionGray(); colorOnLoad()">Gray</a>
            </div>
        </div>

        <!--
                  Funkar men sparar inte:
                  function myFunctionRed() {
                  document.getElementById("changeColor").style.backgroundColor = "#e6adad";
                  document.getElementById("changeColorHead").style.backgroundColor = "#ff4646";
                }

                  function myFunctionBlue() {
                  document.getElementById("changeColor").style.backgroundColor = "lightblue";
                  document.getElementById("changeColorHead").style.backgroundColor = "#0077B6";
                }

                  function myFunctionGreen() {
                  document.getElementById("changeColor").style.backgroundColor = "#caf7b1b5";
                  document.getElementById("changeColorHead").style.backgroundColor = "#329f00b5";
                }


            Försök 2 som inte funkar:

            const color = document.getElementById("changeColor");

            var colorVal = localStorage.getItem("changeColor");

            function myFunctionRed() {
              if (typeof(Storage) !== "undefined") {
                if (localStorage.myFunctionRed) {
                    localStorage.myFunctionRed = Number(localStorage.myFunctionRed); Number kanske är för int, men hittar inte info om det.
                  }
                    localStorage.setItem("changeColor", color."#e6adad");
                    color."#e6adad" = "Select changeColor";
                    color."#e6adad" = colorVal;
                    }
                  }

             Försök 3 som funkar men inte om man laddar om:

             function myFunctionRed() {
              if (typeof(Storage) !== "undefined") {
                if (sessionStorage.myFunctionRed) {
                    sessionStorage.myFunctionRed = Number(sessionStorage.myFunctionRed);
                  }
                    document.getElementById("changeColor").style.backgroundColor = "#e6adad";
                    document.getElementById("changeColorHead").style.backgroundColor = "#ff4646";
                    }
                  }

             function myFunctionBlue() {
              if (typeof(Storage) !== "undefined") {
                if (sessionStorage.myFunctionBlue) {
                    sessionStorage.myFunctionBlue = Number(sessionStorage.myFunctionBlue);
                   }
                     document.getElementById("changeColor").style.backgroundColor = "lightblue";
                     document.getElementById("changeColorHead").style.backgroundColor = "#0077B6";
                     }
                    }

             function myFunctionGreen() {
              if (typeof(Storage) !== "undefined") {
                if (sessionStorage.myFunctionGreen) {
                    sessionStorage.myFunctionGreen = Number(sessionStorage.myFunctionGreen);
                  }
                    document.getElementById("changeColor").style.backgroundColor = "#caf7b1b5";
                    document.getElementById("changeColorHead").style.backgroundColor = "#329f00b5";
                    }
                  }

                Försök 4 som funkar lika dåligt som 3:
                function myFunctionRed() {
                sessionStorage.setItem("color", "#e6adad");
                let redColor = sessionStorage.getItem("color");
                document.getElementById("changeColor").style.backgroundColor = redColor;
                sessionStorage.setItem("colorH", "#ff4646");
                let redColorH = sessionStorage.getItem("colorH");
                document.getElementById("changeColorHead").style.backgroundColor = redColorH;
            }

                function myFunctionBlue() {
                sessionStorage.setItem("color", "lightblue");
                let blueColor = sessionStorage.getItem("color");
                document.getElementById("changeColor").style.backgroundColor = blueColor;
                sessionStorage.setItem("colorH", "#0077B6");
                let blueColorH = sessionStorage.getItem("colorH");
                document.getElementById("changeColorHead").style.backgroundColor = blueColorH;
            }

                function myFunctionGreen() {
                sessionStorage.setItem("color", "#caf7b1b5");
                let greenColor = sessionStorage.getItem("color");
                document.getElementById("changeColor").style.backgroundColor = greenColor;
                sessionStorage.setItem("colorH", "#329f00b5");
                let greenColorH = sessionStorage.getItem("colorH");
                document.getElementById("changeColorHead").style.backgroundColor = greenColorH;
            }

        -->

        <script>

            function colorOnLoad() {
                let Color = sessionStorage.getItem("color");
                document.getElementById("changeColor").style.backgroundColor = Color;
                let ColorH = sessionStorage.getItem("colorH");
                document.getElementById("changeColorHead").style.backgroundColor = ColorH;
            }

            function myFunctionRed() {
                sessionStorage.setItem("color", "#e6adad");
                sessionStorage.setItem("colorH", "#ff4646");
            }

            function myFunctionBlue() {
                sessionStorage.setItem("color", "lightblue");
                sessionStorage.setItem("colorH", "#0077B6");
            }

            function myFunctionGreen() {
                sessionStorage.setItem("color", "#caf7b1b5");
                sessionStorage.setItem("colorH", "#329f00b5");
            }

            function myFunctionPurple() {
                sessionStorage.setItem("color", "#f2b3ff73");
                sessionStorage.setItem("colorH", "#c732f1");
            }

            function myFunctionPurple() {
                sessionStorage.setItem("color", "#f2b3ff73");
                sessionStorage.setItem("colorH", "#c732f1");
            }

            function myFunctionYellow() {
                sessionStorage.setItem("color", "#fcffb3ed");
                sessionStorage.setItem("colorH", "#fffe00");
            }

            function myFunctionTurquoise() {
                sessionStorage.setItem("color", "#98ffcd9c");
                sessionStorage.setItem("colorH", "#00ff83");
            }

            function myFunctionGray() {
                sessionStorage.setItem("color", "#a5a5a5cc");
                sessionStorage.setItem("colorH", "#585858");
            }

        </script>

    </div>
</div>
<br>

<div class="body">

    <div id="changeColor" class="row">
        <div class="column1">
            <h2 class="linksColumn1">Links</h2>
            <div class="flex-container">
                <a href="/news"><button id="column1" class="btn info"><img id="imgColumn1" src="/images/news.png"><br>Most recent</button></a>
                <a href="/modules"><button id="column1" class="btn info"><img id="imgColumn1" src="/images/cubes.png"><br>Modules</button></a>
                <a href="/uploadAss"><button id="column1" class="btn info"><img id="imgColumn1" src="/images/qa.png"><br>Assignments</button></a>
                <a href="/people"><button id="column1" class="btn info"><img id="imgColumn1" src="/images/people.png"><br>Class list</button></a>
                <a href="/grades"><button id="column1" class="btn info"><img id="imgColumn1" src="/images/test.png"><br>Grades</button></a>
                <a href="/video"><button id="column1" class="btn info"><img id="imgColumn1" src="/images/videoconference.png"><br>Classroom</button></a>
                <a href="/git"><button id="column1" class="btn info"><img id="imgColumn1" src="/images/github.png"><br>Git</button></a>
                <a href="/filesUpload"><button id="column1" class="btn info"><img id="imgColumn1" src="/images/folder.png"><br>Documents</button></a>
            </div>
        </div>

        <div class="column2">

            <h1 th:text="'Hello ' + ${student.firstName}"></h1>

            <form action="/profile" th:object="${student}" method="post">

                First name: <input type="text" th:field="*{firstName}"><br><br><br>
                Last name: <input type="text" th:field="*{lastName}"><br><br><br>
                Email: <input type="text" th:field="*{email}"><br><br><br>
                <div th:if="*{dateOfBirth} == null">
                    Date of Birth: <input type="date" id="date" name="date" value="1970-01-01" min="1900-01-01" max="2030-12-31"><br><br><br>
                </div>
                <div th:if="*{dateOfBirth} != null">
                    Date of Birth: <input type="date" id="date" name="date" th:value="${{birth}}" min="1900-01-01" max="2030-12-31"><br><br><br>
                </div>

                City: <input list="cities" name="cities" th:placeholder="*{city}"/>
                <datalist id="cities">
                    <select>
                        <option th:each="stad: ${stader}" th:value=" ${stad}">
                        </option>
                    </select>
                </datalist>

                <br> <br> <br>

                Address: <input type="text" th:field="*{address}"><br><br><br>
                <!--Password: <input type="text" th:field="*{password}"><br><br><br>-->
                LinkedIn: <input type="text" th:field="*{linkedIn}"><br><br><br>
                gitHub: <input type="text" th:field="*{gitHub}"><br><br><br>

                <!--<input type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31">-->


                <!--  -->
                <input type="hidden" th:field="*{id}">

                <input type="submit" value="Save">
            </form>

    </div>

</div>
</div>

   <!-- <script>
function myFunction() {
  document.getElementById("date").defaultValue = "2014-02-09";
}
</script>-->
</body>
</html>