<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<form class="logOutButton" th:action="@{/logout}" method="get">
    <input type="submit" value="Logout"/></form></span>
<a href="/" class="logo"><img class="logoAss"src="/images/BCLogo.png"></a>
<div class="headerAss">

    <div class="header-right">
        <a href="/"><button class="btn info">Home</button></a>
        <a href="#contact"><button class="btn info">Contact</button></a>
        <a href="/profile"><button class="btn info">Profile</button></a>
        <a href="/chat"><button class="btn info">Chat</button></a>
    </div>
</div>
<br>

<form method="post" action="/uploadAss" th:object="${post}"  enctype="multipart/form-data">
        <label for="file">Choose file to upload</label>
        <input type="file" id="file" name="afile" multiple />
        <input type="submit"/>
</form>

<td><img th:src="${post.img}" width="100"></td>
</body>
</html>